# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Sphinx documentation
docs/format/_build/
docs/language/_build/
docs/storage/_build/
docs/general/_build

# Jupyter Notebook
.ipynb_checkpoints

#PyCharm
.idea/
